<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_header %>
</head>
<body>
  <main class="l-index">
    <div class="l-container u-clear">
      <div class="l-index-menu">
        <div class="l-index-header">
          <h1 class="header header-title">
            iioffice app
          </h1>
        </div>
        <div class="l-index-inner">
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a href="#" class="nav-link is-active">
                  <span>Home</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <span>About Us</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <span>User</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <span>Offices</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="l-index-content">
        <div class="l-index-header">
          <h2 class="header header-title">
            Home
          </h2>
        </div>
        <div class="l-index-inner">
          <div class="table">
            <table class="table-inner">
              <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
              </thead>
              <tbody>
                <tr>
                  <td>John Doe</td>
                  <td>iammarkwin@gmail.com</td>
                  <td>Sitio Wakwak Skina Japan</td>
                  <td>Dapit Amo</td>
                  <td>Pilipins</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
<script src="assets/js/app.js"></script>
</body>
</html>
